footer{
    position: relative;
    margin-top: 0vh;
    background-color: rgb(22, 22, 22);
    color: white;
    padding: 49px;
    font-family: 'Varela Round', sans-serif;
}
footer .f1{
    color: rgb(0, 0, 0);
    font-family: 'Varela Round', sans-serif;
    font-family: 'Varela Round', sans-serif;
    background: yellow;
    border-radius: 5px;
    padding: 12px 17px;
    display: flex;
    justify-content: right;
    width: max-content;
    position: absolute;
    top: 5vh;
    right: 15vw;
    display: flex;
    flex-wrap: wrap;
}
footer .f1:hover{
    background: white;
}
footer .f2{
    font-family: 'Varela Round', sans-serif;
    background: yellow;
    color: black;
    border-radius: 5px;
    padding: 12px 17px;
    display: flex;
    justify-content: right;
    width: max-content;
    position: absolute;
    top: 5vh;
    right: 4vw;
    display: flex;
    flex-wrap: wrap;
}
footer .f2:hover{
    background: white;
}
#share{
    display: inline;
    text-decoration: none;
}
footer li{
    color: rgb(255, 255, 104);
}
apps{
    width: 30px;
}