*{
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(22, 22, 22);
    color: white;
    padding: 2vh;
}
li{
    display: inline;
    padding-left: 30px;
    color: black;
    font-family: 'Varela Round', sans-serif;

}
#nav:link{
    text-decoration: none;
    background: rgb(255, 255, 104);
    color: black;
    padding: 12px 17px;
    border-radius: 4px;
    display: inline-block;
}
#nav:hover{
    background: white;
}
#nav:link{
    text-decoration: none;
    background: yellow;
    color: black;
    padding: 12px 17px;
    border-radius: 4px;
    display: inline-block;
}
#contact:link{
    display: inline-block;
    position:absolute;
    right: 44px;
    text-decoration: none;
    background: yellow;
    color: black;
    padding: 12px 17px;
    border-radius: 4px;
}
#contact:hover{
    background: white;
}
.progressbar{
    background: rgb(255, 255, 0);
    height: 5px;
    width: auto;
    overflow: hidden;
    animation: progress 3s ease-in-out normal;
}
@keyframes progress {
    0%{
        width: 0vw;
    }
    50%{
        width: 40vw;
    }
    100%{
        width: auto;
    }
}
