.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#para{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Rubik', sans-serif;
    color: rgb(12, 12, 12);
    position: absolute;
    left: 10vh;
    bottom: 50vh;
}
#para1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 17px;
    color: rgb(114, 114, 114);
    line-height: 26px;
    font-family: 'Quicksand', sans-serif;
    position: relative;
    right: 24vw;
    top: 47vh;
}
#head{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 8vh;
    font-family: 'Rubik', sans-serif;
    flex-wrap: wrap;
}
#head2{
    display: flex;
    justify-self: center;
    font-size: 3vh;
    font-family: 'Karla',sans-serif;
    font-weight: 100;
    text-align: center;
    line-height: 4vh;
    color: rgb(73, 73, 73);
    margin-top: 2vw;
    width: 70vw;
    transform: translate(15vw);
}
#logo{
    display: flex;
    overflow: hidden;
    margin: auto;
    padding-bottom: 20px;
}
.form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10vh;
    padding: 20vh;
    height: 20vh;
    color: black;
    border-radius: 10px;
    font-family: 'Quicksand', sans-serif;
}
#label1{
    line-height: 35px;
    width: 22vw ;
    height: 6vh;
    display: block;
    justify-content: right;
    position: relative;
    right: 16vw;
    top: -18vh;
    border: rgb(189, 189, 189) 1px solid;
    border-radius: 5px;
    color: #2e2e2e;
    font-size: 3vh;
    font-family: 'Karla',sans-serif;
    font-weight: 100;
    padding-left: 10px;
}
#label1:hover{
   border:  1px solid rgb(29, 147, 202);
}
#l1{
    display: inline-block;
    position: relative;
    right: 15vw;
    top: -19vh;
    line-height: 5vh;
}
#label2{
    line-height: 35px;
    width: 22vw;
    height: 6vh;
    display: block;
    justify-content: right;
    position: absolute;
    right: 27vw;
    top: 353px;
    border: rgb(189, 189, 189) 1px solid;
    border-radius: 5px;
    color: #2e2e2e;
    font-size: 3vh;
    font-family: 'Karla',sans-serif;
    font-weight: 100;
    padding-left: 10px;
}
#label2:hover{
    border:  1px solid rgb(29, 147, 202);
 }
#l2{
        display: inline-block;
        position: absolute;
        right: 45vw;
        bottom: 49vh;
        line-height: 5vh;
}
#label3{
    line-height: 35px;
    width: 674px;
    height: 22vh;
    display: block;
    justify-content: right;
    position: absolute;
    left: 305px;
    bottom: 41px;
    border: rgb(189, 189, 189) 1px solid;
    border-radius: 5px;
    color: #2e2e2e;
    font-size: 3vh;
    font-family: 'Karla',sans-serif;
    font-weight: 100;
    text-align: center;
    padding-left: 12px;
    padding-right: 12px;
}
#label3:hover{
    border:  1px solid rgb(29, 147, 202);
 }
#l3{
        display: inline-block;
        position: absolute;
        right: 70vw;
        bottom: 29vh;
        line-height: 5vh;
}
#btn{
    display: block;
    justify-content: center;
    position: absolute;
    right: 47vw;
    top: 102vh;
    line-height: 5vh;
    width: 8vw;
    height: 7vh;
    text-align: center;
    justify-items: center;
    background: yellow;
    color: black;
    border: blanchedalmond 2px solid;
    border-radius: 8px;
    font-size: 17px;
    font-family: 'Quicksand',sans-serif;
    font-weight: 500;
}
#btn:hover{
    background: rgb(67, 146, 182);
    color: white;
}
#profile{
    position: relative;
    left: 67vh;
    width: 60vh;
    margin-top: 5vh;
}
.content{
    display: block;
    font-size: 3vh;
    line-height: 5vh;
    font-family: 'Karla',sans-serif;
    font-weight: 100;
    color: rgb(73, 73, 73);
    margin: auto;
    width: 75%;
    text-align: center;
}
.para-gap{
    margin-top: 6vh;
}
.para-gap-1{
    margin-bottom: 7vh;
}
#link{
    color: rgb(15, 81, 187);
    font-size: 7vh;
    text-decoration: none;
}
#link:hover{
    color: rgb(150, 195, 212);
    text-decoration: underline;
}
hr{
    margin-bottom: 20px;
}
h2{
    font-size: 20px;
    font-family: 'Karla', sans-serif;  
    display: flex;
    justify-content: center;
}
h2:hover{
   color: rgb(61, 61, 61);
}
h3{
    font-family: 'Quicksand',sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: center;
}
a{
    color: rgb(87, 129, 44);
    text-decoration: overline;
}
a:hover{
    color:hsl(91, 56%, 43%);
    text-decoration: underline;
}
h3:hover{
    color: hsl(91, 56%, 43%);
    cursor: pointer; 
}
.music{
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 20px 0;
}
