*{
    margin: 0;
    padding: 0;
}
header{
    background-color: rgba(30, 113, 236, 0.856);
    color: white;
    padding: 10px;
}
li{
    display: inline;
    padding-left: 30px;
    color: black;
    font-family: 'Varela Round', sans-serif;

}
a:link{
    text-decoration: none;
    background: yellow;
    color: black;
    padding: 12px 17px;
    border-radius: 4px;
    display: inline-block;
}
a:hover{
    background: white;
}
#contact{
    display: inline-block;
    position:absolute;
    right: 44px;
}
.progressbar{
    background: rgb(255, 255, 0);
    height: 5px;
    width: 98vw;
    animation: progress 2s ease-in-out normal;
}
@keyframes progress {
    0%{
        width: 0vw;
    }
    50%{
        width: 30vw;
    }
    100%{
        width: 98vw;
    }
}